{% extends "home.html" %}

{% block body %}

<style>
.login {


  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  height: 500px;
  border: 1px solid #fff;

}

.form1 {


  margin: 0 auto;
  padding: 10px;
  width: 90%;


}

input[type="text"], input[type="password"] {

  border: 1px solid #ccc;
  width: 80%;
  padding:20px;
  border-radius: 5px;

}



</style>
<div class="login">
<form class="form1" method='post'>
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>

<form action="{{url_for('signup')}}">
  <button type="submit">Sign-up</button>
</form>

</div>

{% endblock %}
